# Python
__pycache__/
*.pyc
*.pyo
*.env
.env
venv/
backend/venv/
frontend/venv/
backend/__pycache__/

# Node
node_modules/
frontend/node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp

# Docker
pgdata/

# OS
.DS_Store
Thumbs.db

# ML cache
.cache/